.layoutClass {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
  .layoutContent {
    flex: 1;
    overflow: hidden;
    display: flex;
  }
  .breadCrumb {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    border-bottom: 1px solid #e4e7ed;
    .ant-breadcrumb a {
      color: #606266;
    }
    .ant-breadcrumb > span:last-child {
      color: #303133;
      font-weight: 700;
    }
  }
  .layoutContext {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .routeBackground {
    flex: 1;
    padding: 20px;
    overflow: auto;
    background-color: #f0f2f5;
    .routeContent {
      background-color: #fff;
      min-height: 100%;
    }
  }
}

.headClass {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;
  color: hsla(0,0%,100%,.6);
  background-color: #020b21;
  img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
  }
  .menuItem {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    &:hover {
      border-bottom: 3px solid #409eff;
      color: #fff;
    }
  }
  .menuCheck {
    border-bottom: 2px solid #409eff;
    color: #fff;
  }
}

.asideMenu {
  width: 200px;
  height: 100%;
  overflow: auto;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
  .asideMenuTitle {
    padding: 20px 0 10px 24px;
    font-weight: 700;
    font-style: 16px;
  }
}