.membercard-setting-list {
  display: flex;
  width: 100%;
  height: calc(100vh - 140px);
  .membercard-list {
    width: 220px;
    height: 100%;
    padding: 15px;
    border-right: 10px solid #f2f2f4;
    overflow-y: auto;
    header {
      padding: 5px 0 25px 0;
    }
    .cardBox {
      display: flex;
      flex-direction: column;
      height: 100px;
      margin-bottom: 11px;
      border-radius: 2px;
      border: 1px solid #dcdfe6;
      cursor: pointer;
      &:hover {
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
      }
    }
    .active {
      border-color: #2f54ed;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,.15);
    }
    .head {
      height: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      background-color: #f2f3f7;
    }
    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      color: #606266;
      font-size: 12px;
    }
  }
}