.ant-table-thead > tr > th {
  background-color: #ebecf0;
}
.ant-btn.ant-btn-text {
  padding: 0;
  margin-right: 13px;
  color: #2f54eb;
}
.ant-btn-text:hover, .ant-btn-text:focus {
  background-color: transparent;
}
.ant-form-item-label > label {
  color: #606266;
}