.userGroup {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  border-bottom: 16px solid #f0f2f5;
  .groupTitle {
    width: 100px;
    padding-top: 8px;
  }
  .groupList {
    flex: 1;
    flex-wrap: wrap;
  }
  .groupBtn {
    width: 190px;
    padding-top: 8px;
  }
  .groupBox {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 26px;
    cursor: pointer;
  }
  .groupActive {
    color: #2f54ed;
    border: 1px solid #2f54ed;
  }
}
.groupConfig {
  max-height: 300px;
  overflow: auto;
  .configBox {
    display: flex;
    justify-content: space-between;
    span:first-child {
      color: #303133;
    }
    span:last-child {
      color: #606266;
    }
  }
}
.addBtn {
  margin-top: 20px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #c4c6cf;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: #597ef7;
    border-color: #597ef7;
  }
}
.userContent {
  padding: 20px;
  .contentHeader {
    padding-bottom: 20px;
    font-size: 16px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
.popoverEcuStyle {
  display: flex;
  color: #606266;
  margin-bottom: 20px;
  span {
    font-size: 12px;
  }
  .infoDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .firstRow {
      color: #909399;
      span {
        font-size: 14px;
        &:first-child {
          color: #303133;
        }
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
}
.popoverCardStyle {
  height: 84px;
  display: flex;
  justify-content: space-between;
  .numCard {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      text-align: center;
      &:first-child {
        color: #303133;
      }
      &:last-child {
        color: #606266;
      }
    }
  }
}
.popImg,
.popImg1 {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 2px;
  margin-right: 15px;
  cursor: pointer;
}
.popImg1 {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.showEllipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.maxBox {
  margin-top: 20px;
  max-height: 540px;
  overflow: auto;
  .upBox {
    display: flex;
    flex-wrap: wrap;
  }
}
.fieldBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 32px;
  border: 1px solid #dcdfe6;
  margin: 0 15px 15px 0;
  border-radius: 2px;
  cursor: pointer;
  &:nth-of-type(5n) {
    margin-right: 0;
  }
  &.active {
    border: 1px solid #2f54ed;
    background-color: #2f54ed;
    color: #fff;
  }
}
.domainBox {
  margin-top: 16px;
  border: 1px solid #dcdfe6;
  padding: 15px 15px 0;
  .upsideOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .underpart {
    display: flex;
    flex-wrap: wrap;
    .fieldBox {
      margin-right: 10px;
    }
  }
}
.addBigBtn {
  margin-top: 20px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #c4c6cf;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: #597ef7;
    border-color: #597ef7;
  }
}