.userGroup {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  border-bottom: 16px solid #f0f2f5;
  .groupTitle {
    width: 100px;
    padding-top: 8px;
  }
  .groupList {
    flex: 1;
    flex-wrap: wrap;
  }
  .groupBtn {
    width: 190px;
    padding-top: 8px;
  }
  .groupBox {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 26px;
    cursor: pointer;
  }
  .groupActive {
    color: #2f54ed;
    border: 1px solid #2f54ed;
  }
}
.groupConfig {
  max-height: 300px;
  overflow: auto;
  .configBox {
    display: flex;
    justify-content: space-between;
    span:first-child {
      color: #303133;
    }
    span:last-child {
      color: #606266;
    }
  }
}
.addBtn {
  margin-top: 20px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #c4c6cf;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: #597ef7;
    border-color: #597ef7;
  }
}
.userContent {
  padding: 20px;
  .contentHeader {
    padding-bottom: 20px;
    font-size: 16px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}